
<div class="container mt-5">
  <h1>NEW COURSE PAGE</h1>
  <div class="col-6 p-5">
    <form action="/courses/save" method="POST">
      <div class="form-group">
        <label for="name">Course's name</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="Ex: HTML CSS" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input name="description" type="text" class="form-control" id="description" placeholder="Ex: this course is all basic about web dev..." required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input name="price" type="number" class="form-control" id="price" placeholder="Ex: 200" min="0" required>
      </div>
      <div class="form-group">
        <label for="videoId">Video ID</label>
        <input name="videoId" type="text" class="form-control" id="videoId" placeholder="Ex: CLeZyIID9Bo" required>
      </div>
      <button type="submit" class="btn btn-primary">Add course</button>
    </form>
  </div>
</div>